@font-face {
  font-family: Open_Sans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Lexend_Deca;
  src: url(../fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: Josefin_Sans;
  src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
